{% extends 'musicas/base.html' %}
{% load static %}
{% block content %}
<div>
	<h2>João Pedro Araújo Santana</h2>
	<center>
		<img vspace="35px" hspace="15px" src="{% static 'images/jp.jpg' %}" align="center" height="360" width="400">
	</center>
	<p>Quinto período de engenharia da computação, jogador de sinuca, futsal, CoD e PUBG (Mesmo não sendo bom, mas jogo), sou são paulino de coração. Lema: "Não tenho lema."
		
	</p>
	<h2>Thyago Machado Rodrigues</h2>
	<center>
		<img vspace="35px" hspace="15px" src="{% static 'images/perf.png' %}" align="center" height="360" width="400">
	</center>
	<p>Estudante de Engenharia de Computação, jogador de Osu! (atualmente 1565 pp) e League of Legends (ruim em todas as lanes). Lema: "Ser preguiçoso de verdade é fazer tudo o que tem que fazer hoje para não fazer nada amanhã"
	</p>
	<h2>Tarcísio de Castro Lima</h2>
	<center>
		<img vspace="35px" hspace="15px" src="{% static 'images/t.jpg' %}" align="center" height="360" width="400">
	</center>
	<p>5 período da Engenharia da Computação, jogador de sinuca, Liga das Lendas e sou Flamenguista ardente. Lema:"Maior que a tristeza de não haver vencido é a vergonha de não ter lutado!"	
	</p>
</div>
{% endblock %}